In [1]:
import pandas as pd
from sympy import *

# DADOS DE ENTRADA

Fonte dos dados: https://transparencia.metrosp.com.br/dataset/demanda/resource/4ea06bbe-f2d4-43ae-9d4d-c3b7af7a5151

In [2]:
base = pd.read_csv("C:\\Users\\leand\\OneDrive\\Área de Trabalho\\projeto-dasa\\Dezembro\\Entrada de Passageiros por Estação - Média Dias Úteis - Dezembro 2019.csv",
                   encoding="latin",
                   sep = ';',
                   skiprows = 5,
                   skipfooter = 10
                   )

C:\Users\leand\AppData\Local\Temp\ipykernel_16108\3233956583.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  base = pd.read_csv("C:\\Users\\leand\\OneDrive\\Área de Trabalho\\projeto-dasa\\Dezembro\\Entrada de Passageiros por Estação - Média Dias Úteis - Dezembro 2019.csv",

# 4 ESTAÇÕES DE METRÔ

In [3]:
base

,Estação,Entradas,Estação .1,Entradas,Estação .2,Entradas.1,Estação .3,Entradas.2
0,Jabaquara,87,Vila Prudente5,66,Corinthians-Itaquera,89,Vila Prudente6,47
1,Conceição,37,Tamanduateí,74,Artur Alvim,63,Oratório,6
2,São Judas,19,Sacomã,43,Patriarca,24,São Lucas,5
3,Saúde,34,Alto do Ipiranga,19,Guilhermina-Esperança,24,Camilo Haddad,3
4,Praça da Árvore,21,Santos-Imigrantes,15,Vila Matilde,28,Vila Tolstói,5
5,Santa Cruz,112,Chácara Klabin,75,Penha,33,Vila União,6
6,Vila Mariana,21,Ana Rosa²,74,Carrão,48,Jardim Planalto,13
7,Ana Rosa¹,85,Paraíso²,77,Tatuapé,90,Sapopemba,2
8,Paraíso¹,106,Brigadeiro,61,Belém,42,Fazenda da Juta,1
9,Vergueiro,26,Trianon-Masp,54,Bresser-Moóca,37,São Mateus,3
10,São Joaquim,31,Consolação,124,Brás,110,-,-
11,Liberdade,26,Clínicas,24,Pedro II,22,-,-
12,Sé³,222,Santuário N.S. de Fátima-Sumaré,13,Sé4,253,-,-
13,São Bento,79,Vila Madalena,26,Anhangabaú,64,-,-
14,Luz,146,-,-,República,155,-,-
15,Tiradentes,15,-,-,Santa Cecília,25,-,-
16,Armênia,26,-,-,Marechal Deodoro,33,-,-
17,Portuguesa-Tietê,62,-,-,Palmeiras-Barra Funda,192,-,-
18,Carandiru,14,-,-,-,-,-,-
19,Santana,61,-,-,-,-,-,-
20,Jardim São Paulo-Ayrton Senna,14,-,-,-,-,-,-
21,Parada Inglesa,15,-,-,-,-,-,-
22,Tucuruvi,69,-,-,-,-,-,-

In [4]:
base['ESTACAO'] = base['Estação '] + base['Estação .1'] + base['Estação .2'] + base['Estação .3']

In [5]:
data = pd.DataFrame()

In [6]:
data['ESTACAO'] = pd.concat([base['Estação '], base['Estação .1'], base['Estação .2'], base['Estação .3']], ignore_index=True)
data['ESTACAO']

0            Jabaquara
1           Conceição
2           São Judas
3               Saúde
4     Praça da Árvore
            ...
87                  -
88                  -
89                  -
90                  -
91                  -
Name: ESTACAO, Length: 92, dtype: object

In [7]:
data['ESTACAO_PROVISORIA'] = pd.concat([base['Entradas '], base['Entradas'], base['Entradas.1'], base['Entradas.2']], ignore_index=True)
data['ESTACAO_PROVISORIA']

0     87
1     37
2     19
3     34
4     21
      ..
87     -
88     -
89     -
90     -
91     -
Name: ESTACAO_PROVISORIA, Length: 92, dtype: object

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ESTACAO             92 non-null     object
 1   ESTACAO_PROVISORIA  92 non-null     object
dtypes: object(2)
memory usage: 1.6+ KB

In [9]:
data['ESTACAO_PROVISORIA'].replace({'-': 0, '- ': 0}, inplace=True)

In [10]:
data['ENTRADA'] = pd.to_numeric(data['ESTACAO_PROVISORIA'])

In [11]:
data['ENTRADA'].sum()

3496

In [12]:
data.dropna()

             ESTACAO ESTACAO_PROVISORIA  ENTRADA
0          Jabaquara                 87       87
1         Conceição                  37       37
2         São Judas                  19       19
3             Saúde                  34       34
4   Praça da Árvore                  21       21
..               ...                ...      ...
87                -                   0        0
88                -                   0        0
89                -                   0        0
90                -                   0        0
91                -                   0        0

[92 rows x 3 columns]

# PREÇO DA PASSAGEM: R$ 4,30


Fonte dos dados: https://www.sptrans.com.br/tarifas/

# HORARIO FUNCIONAMENTO: 19 HORAS

Fonte dos dados: https://www.metro.sp.gov.br/sua-viagem/horarios/horarios-estacoes.aspx

In [13]:
preco_passagem = 4.3
porcentagem_pico = 0.4
horario_funcionamento = 19

In [14]:
entrada = data['ENTRADA'].sum()
entrada

3496

In [15]:
total_entrada = entrada*preco_passagem # numero em milhares
total_entrada

15032.8

# FATURAMENTO BRUTO P/ HORA DO METRÔ

In [16]:
total_entrada/horario_funcionamento

791.1999999999999